.saveButton{
    color: white;
    background-color: #018be7;
    font-size: 20px;
    border-radius: 2px;
    border: 0;
    padding: 10px 20px;
    margin: 0 auto;
}
.button{
    text-align:center;
    margin: 20px;
}