.card{
    height: auto;
    width: 90%;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;   
}

.MainContainer{
    padding: 1% 5%;
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
}
.SemesterTitle{
    width: 70%;
}

.ProjectDueDate{
    width: 50%;
}
.InfoContainer{
    height: auto;
    width: auto;
    padding: 1% 5%;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.GrNo{
    align-items: center;
}
.Name{
    align-content: center;
    font-size: 20px;
    margin-left: 100px;
}
.TextInput{
    padding: 1% 5%;
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
}
.TitleDomainTech{
    width: 50%;
}
.Description{
    width: 50%;
}
.TextFieldTitleWrapper{
    height: auto;
    width: auto;
    padding: 1% 5%;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
.TextFieldTitle{
    align-items: center;
}
.TextField{
    align-content: center;
    font-size: 20px;
    margin-left: 100px;
}
.SaveButton{
    color: white;
    background-color: rgb(1, 139, 231);
    font-size: 20px;
    border-radius: 2px;
    border: 0;
    padding: 10px 20px;
    margin-top: 36px;
    margin-right: 30px;
    margin: 0 auto;
    display: block;
    width: 140px;
}
.OtherButton{
    color: white;
    background-color: rgb(1, 139, 231);
    font-size: 20px;
    border-radius: 2px;
    border: 0;
    padding: 10px 20px;
    margin-top: 36px;
    margin-right: 30px;
    margin: 0 auto;
    display: inline-block;
    width: 140px;
}
.FileInputs{
    height: auto;
    width: auto;
    padding: 1% 5%;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
.InputForms{
    align-items: center;
}
.UploadButtons{
    align-content: center;
    margin-left: 50px;
}
.UploadIndividualButton{
    color: white;
    background-color: rgb(1, 139, 231);
    border-radius: 2px;
    border: 0;
    padding: 10px 20px;
    margin-bottom: 8px;
    width: 120px;
}
.inputFields{
    margin: 10px;
    width: 240px; 
    height: 50px; 
    color: black; 
    background-color: #E3E3E3;
    border-radius: 5px;
    border: 'grey';
    padding: 12px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}